<%- include('./partials/header')%>
	<div class='page-container'>
		<div class='header light-blue-bc'>
			<div class="row vertical-center">
				<div class="col center-item">
					<button class='remove-style oswald-font dark-blue-c'>
						Home
						<div class="underscore off-white-bc">
							
						</div>
					</button>
				</div>
				<div class="col center-item">
					<button class='remove-style oswald-font'>Experiences</button>
				</div>
				<div class="col center-item">
					<div class="emblem dark-blue-bc">
						<h1 class="cursive-font">
							<span class='first-last-initial yellow-c'>C</span><span class="middle-initial red-c">A</span><span class="first-last-initial yellow-c">S</span>
						</h1>
					</div>
				</div>
				<div class="col center-item">
					<button class='remove-style oswald-font dark-blue-c'>Testemonials</button>
				</div>
				<div class="col center-item">
					<button class='remove-style oswald-font dark-blue-c'>Contact</button>
				</div>
			</div>
		</div>
		<div class='background-image'>
			<div class="image">
				
			</div>
			<div class='overlay'>
				<div class='text-container'>
					<h1 class='meriweather-font dark-blue-c'>Professional</h1>
					<h1 class='meriweather-font dark-blue-c'>Productive</h1>
					<h1 class='meriweather-font dark-blue-c'>Positive</h1>

					<p class="oswald-font off-white-c">Classrooms, conference rooms, and much much more</p>

					<button class="red-bc off-white-c"><i class="fas fa-chevron-down"></i></button>
				</div>
			</div>
		</div>

		<!-- Page 2 -->
		<div id='page2'>
			<div class="background">
				<div class="experiences">
					<div class="row ex">
						<div class="col-lg-3">
							<div class="pic" id="pic-1">
								
							</div>
							<!-- picture -->
						</div>
						<div class="col-lg-9 content">
							<h1 class="meriweather-font">Gannon University</h1>
							<p class="oswald-font">This is some text about something</p>
							<div class="row oswald-font">
								<div class="col">
									<a href="#">Link1</a>
								</div>
								<div class="col">
									<a href="#">Link1</a>
								</div>
								<div class="col">
									<a href="#">Link1</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<%- include('./partials/footer')%>